<!DOCTYPE html>
<html>
<head>
  <title>Deimos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :modernizr %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation" style = 'opacity:0.9;'>
	<div class = 'navbar-inner'>
	<div class = 'container'>
	<div class="navbar-header" style = 'vertical-align: middle; margin-top: 5px;'>
		<a class="navbar-brand" href="#">I R I S</a>
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      	<span class="sr-only">Toggle navigation</span>
		  	<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class = 'nav navbar-nav navbar-right'>
			<li onmouseover="this.className='active'" onmouseout="this.className=''">
				<a href = '#'>
					DEVICE
				</a>
			</li>
			<li onmouseover="this.className='active'" onmouseout="this.className=''">
				<a href = '#'>
					SUPPORT
				</a>
			</li>
			<li onmouseover="this.className='active'" onmouseout="this.className=''">
				<a href = '#'>
					PREORDER
				</a>
			</li>
		</ul>
	</div>
	</div>
	</div>
</div>
<div id = 'wrap' data-100="display:block; background:rgb(255,255,255);" data-1250="background:rgb(0,0,0);" data-2600="background:rgb(0,0,0);" data-3000="background:rgb(255,255,255);">

<%= yield %>

</div>

<div id = 'footer'>
	<div class = 'container'>
		Deimos Defense
	</div>
</div>

<script type="text/javascript">
    var s = skrollr.init();
</script>
</body>
</html>
